<!doctype html>
<html>
<head>
    <title>Lista aplicațiilor testate</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Lista aplicațiilor testate</h1>
        <ul class="list-group">
            {% for app in apps %}
            <li class="list-group-item">
                <a href="/rapoarte/{{ app }}">{{ app }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>

